body {
  font-family: 'Courier Prime', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: #ffffff;
  scroll-behavior: smooth;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #aaaaaa;
}

header {
  background-color: #121212;
  color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header h1 {
  font-family: 'Courier Prime', monospace;
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid orange;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header p {
  font-family: 'Courier Prime', monospace;
  font-size: 1.5rem;
  margin: 1em 0 0 0;
}

.typing-animation {
  border-right: .15em solid orange;
  animation: caret 0.75s step-end infinite;
}

@keyframes caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

#about,
#contact {
  padding: 2em 0;
}

#about {
  background-color: #2c2c2c;
}

#blog {
  background-color: #ffffff;
  color: #000000;
}

#contact {
  background-color: #2c2c2c;
}

#contact .btn {
  margin: 0 1em;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .btn:hover {
  background-color: #ffffff;
  color: #121212;
}

#posts .card {
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

#posts .card:hover {
  transform: scale(1.05);
}

#posts .card-body {
  background-color: #f8f9fa;
  color: #000000;
}

#subtext a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

#subtext a:hover {
  color: #aaaaaa;
}

#about-content {
  display: flex;
  align-items: center;
}

#about-content img {
  border-radius: 50%;
  margin-left: 20px;
  max-width: 150px;
}

.blog-date {
  font-size: 0.9rem;
  color: #aaaaaa;
}

#post-header {
  padding: 20px;
  background-color: #1d1d1d;
  color: white;
}

#post-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#post-date {
  font-size: 1rem;
  color: #cccccc;
}

#post-content {
  padding: 20px;
  background-color: #121212;
  color: white;
}